<div class="flex min-h-screen items-center justify-center bg-secondary p-4 font-sans">
  <div class="flex w-full max-w-5xl overflow-hidden rounded-4xl bg-white shadow-xl h-[550px]">

    <div class="hidden w-1/2 items-center justify-center border-r border-gray-100 bg-white p-8 md:flex">
      <div class="w-full max-w-[500px]">
        <img [src]="'src/assets/Admin_Img.png'"
             alt="Admin Security" class="h-auto w-full object-contain" />
      </div>
    </div>

    <div class="flex w-full flex-col justify-between p-8 md:w-1/2 lg:p-12">
      <div class="mt-8">
        <div class="mb-8">
          <span class="mb-2 block h-1 w-8 bg-primary"></span>
          <h2 class="text-xl font-semibold text-text-main">Login as a Administration</h2>
        </div>

        <div *ngIf="errorMessage" class="mb-4 text-xs text-error bg-error/10 p-3 rounded-lg text-center font-semibold">
          {{ errorMessage }}
        </div>

        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="space-y-5">

          <div class="relative">
            <input type="email" formControlName="email" placeholder="Username"
                   [ngClass]="{'border-error ring-1 ring-error': isFieldInvalid('email'), 'border-primary': !isFieldInvalid('email')}"
                   class="w-full rounded-full border px-5 py-3 text-sm text-gray-600 outline-none transition-all focus:ring-2 focus:ring-primary-light" />
          </div>

          <div class="relative">
            <input type="password" formControlName="password" placeholder="Password"
                   [ngClass]="{'border-error ring-1 ring-error': isFieldInvalid('password'), 'border-primary': !isFieldInvalid('password')}"
                   class="w-full rounded-full border px-5 py-3 text-sm text-gray-600 outline-none transition-all focus:ring-2 focus:ring-primary-light" />
          </div>

          <button type="submit" [disabled]="isLoading"
                  class="w-full rounded-full bg-primary py-3 text-sm font-bold tracking-widest text-white transition-all hover:bg-primary-hover active:scale-[0.98] shadow-lg shadow-primary/30 flex justify-center items-center disabled:opacity-70 cursor-pointer">
            <span *ngIf="!isLoading">LOGIN</span>
            <div *ngIf="isLoading" class="h-5 w-5 animate-spin rounded-full border-2 border-white border-t-transparent"></div>
          </button>
        </form>

        <div class="mt-6 text-center text-sm">
          <a href="#" class="text-text-muted hover:text-primary transition-colors">Forget your password?</a>
        </div>
      </div>

      <div class="text-center text-xs text-text-muted">
        <p>Terms of use. Privacy policy</p>
      </div>
    </div>
  </div>
</div>
